<div>
    <table>
        <tr>
            <td>College ID</td>
            <td>{{collegeData.collid}}</td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td>{{collegeData.collfullname}}</td>
        </tr>
        <tr>
            <td>Short Name</td>
            <td>{{collegeData.collshortname}}</td>
        </tr>
        <tr>
            <td hidden></td>
            <td colspan="2">
                <button (click)="handleBack()">Back</button>
                <button (click)="deleteCollege(collid = collegeData.collid)">Delete</button>
                <button (click)="showEditPage(collegeData.collid)">Edit</button>
            </td>
        </tr>
    </table>
    
</div>

