

<div *ngIf="showAddCollegeForm" class="overlay">
  <div class="popup-container">
    <form name="form" #collegeForm="ngForm" class="popup-form">
    <table>
      <tr>
        <td><label for="collid">College ID</label></td>
        <td><input type="text" name="collid" [(ngModel)]="collegeData.collid" required [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr>
        <td><label for="collfullname">Full Name</label></td>
        <td><input type="text" name="collfullname"  [(ngModel)]="collegeData.collfullname" required [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr>
        <td><label for="collshortname" >Short Name</label></td>
        <td><input type="text" name="collshortname" [(ngModel)]="collegeData.collshortname" required [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr>
        <td hidden></td>
        <td colspan="2">
          <button type="submit" class="cancel" (click)="closeAddCollegeForm()">Cancel</button>
          <button type="submit" class="clear" (click)="clearForm()">Clear Entries</button>
          <button type="submit" class="submit" (click)="submitAddCollegeForm()">Add College</button> 
        </td>
      </tr>
    </table>  
  </form>
</div>

