<div class="table-list">
    <h1>List of Departments</h1>
    <div *ngIf="errorMessage" class="error error-text">{{ errorMessage | json }}</div>
    <button class="add-button" (click)="openAddDepartmentForm()">Add Department</button>
    <table id="dept-list" *ngIf="showDeptList">
        <thead>
          <tr>
            <th>Department ID</th>
            <th>College ID</th>
            <th>Department Full Name</th>
            <th>Department Short Name</th>         
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dept of deptCollection">
            <td> {{ dept.deptid }} </td>
            <td> {{ dept.deptcollid }} </td>
            <td> {{ dept.deptfullname }} </td>
            <td> {{ dept.deptshortname }} </td>
            <td>
              <button (click)="showDeptDetails(selectedDeptID = dept.deptid)">Details</button>
              <button (click)="showEditPage(selectedDeptID = dept.deptid)">Edit</button>
              <button (click)="deleteDepartment(selectedDeptID = dept.deptid)">Delete</button>
            </td>
          </tr>
          <tr *ngIf="deptCollection.length < 1">
            <td colspan="8" class="no-data">No Data Found</td>
          </tr>
        </tbody>
      </table>
  </div>
