<div *ngIf="showAddProgramForm" class="overlay">
  <div class="popup-container">
    <form name="form" #studentForm="ngForm" class="popup-form">
    <table>
      <tr>
        <td><label for="progid">Program Id</label></td>
        <td><input type="text" name="progid" [(ngModel)]="programData.progid" required [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr>
        <td><label for="fullname">Full Name</label></td>
        <td><input type="text" name="fullname"  [(ngModel)]="programData.progfullname" required [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr>
        <td><label for="shortname">Short Name</label></td>
        <td><input type="text" name="shortname" [(ngModel)]="programData.progshortname" [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr>
        <td><label for="college">College</label></td>
        <td>
          <select id="college" name="college" [(ngModel)]="programData.progcollid" required (change)="updateDepartment()">
            <option value="" [ngValue]="null">-------------------------------------------------- Select College --------------------------------------------------</option>
            <option *ngFor="let college of collegeCollection" [value]="college.collid">
              {{ college.collfullname }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="program">Department</label></td>
        <td>
          <select id="program" name="program" [(ngModel)]="programData.progcolldeptid" required >
            <option value="" [ngValue]="null">-------------------------------------------------- Select Program --------------------------------------------------</option>
            <option *ngFor="let dept of deptCollection" [value]="dept.deptid">{{ dept.deptfullname }}</option>
          </select>
        </td>
      </tr>
      <tr class="justButtons">
        <td hidden></td>
        <td colspan="2">
          <button type="submit" class="cancel" (click)="closeAddProgramForm()">Cancel</button>
          <button type="submit" class="clear" (click)="clearForm()">Clear Entries</button>
          <button type="submit" class="submit" (click)="submitAddProgramForm()">Add Program</button>
        </td>
      </tr>
    </table>  
  </form>
</div>
