<div class="table-list">
    <h1>List of Colleges</h1>
    <div *ngIf="errorMessage" class="error error-text">{{ errorMessage | json }}</div>
  <button class="add-button" (click)="openAddCollegeForm()">Add College</button>
    <table id="college-list" *ngIf="showCollegeList">
      <thead>
        <tr>
          <th>College ID</th>
          <th>College Full Name</th>
          <th>College Short Name</th>         
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let college of collegeCollection">
          <td> {{ college.collid }} </td>
          <td> {{ college.collfullname }} </td>
          <td> {{ college.collshortname }} </td>
          <td>
            <button (click)="showCollegeDetails(selectedCollegeID = college.collid)">Details</button>
            <button (click)="showEditPage(selectedCollegeID = college.collid)">Edit</button>
            <button (click)="deleteCollege(selectedCollegeID = college.collid)">Delete</button>
          </td>
        </tr>
        <tr *ngIf="collegeCollection.length < 1">
          <td colspan="8" class="no-data">No Data Found</td>
        </tr>
      </tbody>
    </table>
</div>
