body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
    margin-top: 30px;
}

div {
    margin-top: 50px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 50%;
    margin-top: 5%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto; 
}

td {
    padding: 20px;
    border: 1px solid #ddd;
    font-size: 20px;
}

td:first-child {
    background-color: #cacaca;
    font-weight: bold;
    width: 30%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40px;
    float: right;
    width: 10%;
}
  
button:hover {
    background-color: #45a049;
}

input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
  
select,
option {
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}
  
select:focus {
    outline: none;
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
}
  
select option {
    background-color: #fff;
    color: #333;
}
