<div class="table-list">
  <h1>List of Student Information</h1>
  <div *ngIf="errorMessage" class="error error-text">{{ errorMessage | json }}</div>
  <button class="add-button" (click)="openAddStudentForm()">Add Student</button>
  <table id="students-list" *ngIf="showStudentList">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>College</th>
        <th>Program</th>
        <th>Year</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentCollection">
        <td>{{ student.studid }}</td>
        <td>{{ student.studfirstname }}</td>
        <td>{{ student.studmidname }}</td>
        <td>{{ student.studlastname }}</td>
        <td>{{ student.studcollid }}</td>
        <td>{{ student.studprogid }}</td>
        <td>{{ student.studyear }}</td>
        <td class="buttons">
          <button (click)="showStudentDetails(selectedStudentID = student.studid)">Details</button>
          <button (click)="showEditPage(selectedStudentID = student.studid)">Edit</button>
          <button (click)="deleteStudent(selectedStudentID = student.studid)">Delete</button>
        </td>
      </tr>
      <tr *ngIf="studentCollection.length < 1">
        <td colspan="8" class="no-data">No Data Found</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showAddStudentForm" class="overlay">
  <div class="popup-container">
    <form name="form" #studentForm="ngForm" class="popup-form">
    <table>
      <tr>
        <td><label for="studid">Student ID</label></td>
        <td><input type="text" name="studid" [(ngModel)]="studentData.studid" required [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr>
        <td><label for="firstName">First Name</label></td>
        <td><input type="text" name="studfirstname"  [(ngModel)]="studentData.studfirstname" required [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr>
        <td><label for="middleName">Middle Name</label></td>
        <td><input type="text" name="studmidname" [(ngModel)]="studentData.studmidname" [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr>
        <td><label for="lastName">Last Name</label></td>
        <td><input type="text" name="studlastname" [(ngModel)]="studentData.studlastname" required [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr>
        <td><label for="college">College</label></td>
        <td>
          <select id="college" name="college" [(ngModel)]="studentData.studcollid" required (change)="updatePrograms()">
            <option value="" [ngValue]="null">-------------------------------------------------- Select College --------------------------------------------------</option>
            <option *ngFor="let college of collegeCollection" [value]="college.collid">
              {{ college.collfullname }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="program">Program</label></td>
        <td>
          <select id="program" name="program" [(ngModel)]="studentData.studprogid" required >
            <option value="" [ngValue]="null" >-------------------------------------------------- Select Program --------------------------------------------------</option>
            <option *ngFor="let program of programCollection" [value]="program.progid">
              {{ program.progfullname }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="year">Year</label></td>
        <td><input type="text" name="studyear" [(ngModel)]="studentData.studyear" required [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr>
        <td hidden></td>
        <td colspan="2">
          <button type="submit" class="cancel" (click)="closeAddStudentForm()">Cancel</button>
          <button type="submit" class="clear" (click)="clearForm()">Clear Entries</button>
          <button type="submit" class="submit" (click)="submitAddStudentForm()">Add Student</button>
        </td>
      </tr>
    </table>  
  </form>
</div>

